
<h1 class="text-2xl mb-12">Search Authors</h1>

<div class="flex flex-col sm:flex-row gap-3 items-center sm:items-stretch">
<form hx-get="/author/" 
hx-target="#author-results" 
hx-select="#author-results" 
hx-trigger="submit"
hx-indicator="#loader"
class="flex gap-2 w-full flex-1">
    <input type="text" 
           id="search" 
           name="search" 
           placeholder="Search authors..." 
           value="{{ search_query }}"
           required
           class="flex-1 px-3 py-2 rounded bg-gray-700 border border-gray-600 hover:border-gray-500 focus:border-blue-600 focus:ring focus:ring-blue-600/50 text-white placeholder-gray-400 transition-colors">

    <button type="submit" class="px-4 py-2 bg-blue-800 hover:bg-blue-700 rounded font-medium transition-colors">Search</button>
</form>
<span id="loader" class="loading htmx-indicator"></span>
</div>

<div id="author-results" class="mt-4">
    {% if author_results %}
        <ul class="grid grid-cols-2 gap-2">
        {% for author in author_results %}
            <li>

                <div class="p-2 bg-[#0d1117] rounded-lg border border-gray-700 flex flex-row gap-4 relative h-full">

                    <!-- NORMAL DESKTOP TEXT -->
                    <div class="p-2 flex-1 space-y-2 min-w-0">
                        <a 
                            hx-get="/author/{{ author.record.author_id }}/"
                            hx-target="#content"
                            hx-push-url="true"
                            class="underline cursor-pointer block"
                        >
                            <h3 class="font-semibold text-lg break-words">
                                {{ author.record.name }}
                            </h3>
                        </a>
                        <p class="text-sm text-gray-300 break-words">
                            {{ author.record.description|truncatewords:20 }}
                        </p>
                        <p>{{ author.record.stats.total_series}}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>

        <!-- PAGINATION -->
        {% if page_obj.has_other_pages %}
        <div class="flex justify-center items-center gap-2 mt-6">
            {% if page_obj.has_previous %}
                <button 
                    hx-get="/author/?search={{ search_query }}&page={{ page_obj.previous_page_number }}"
                    hx-target="#author-results"
                    hx-select="#author-results"
                    class="px-4 py-2 bg-gray-700 rounded hover:bg-gray-600">
                    Previous
                </button>
            {% endif %}

            <span class="px-4 py-2 bg-gray-800 rounded">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <button 
                    hx-get="/author/?search={{ search_query }}&page={{ page_obj.next_page_number }}"
                    hx-target="#author-results"
                    hx-select="#author-results"
                    class="px-4 py-2 bg-gray-700 rounded hover:bg-gray-600">
                    Next
                </button>
            {% endif %}
        </div>
        {% endif %}

    {% elif search_query %}
        <p>No results found for "{{ search_query }}"</p>
    {% endif %} 
</div>
