
<nav class="bg-gray-950 p-4 space-x-4 ">
    <a hx-get="/" hx-target="#content" hx-push-url="true" class="cursor-pointer">Home</a>
    <a hx-get="/series/" hx-target="#content" hx-push-url="true" class="cursor-pointer">Series</a>
    
</nav>
<!-- Added links 
<a hx-get="/about/" hx-target="#content" hx-push-url="true" class="cursor-pointer">About</a>
<a hx-get="/contact/" hx-target="#content" hx-push-url="true" class="cursor-pointer">Contact</a>
<a hx-get="/upload/" hx-target="#content" hx-push-url="true" class="cursor-pointer">Upload</a>
-->