<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <style>
        html, body {
            background-color: #1f2937 !important;
        }
    </style>
    <title>Main</title>
</head>
<body class="bg-gray-800 text-white">
    {% include "components/navbar.html" %}
    <main id="content" class="py-24 px-4 md:px-16 lg:px-64">
    <div class="max-w-4xl mx-auto">
        {% block content %}
        {% endblock %}
    </div>
    </main>
</body>
</html>